.fixed {
  position: fixed;
}

.full-width {
  width: 100%;
}

.min-height-100vh {
  min-height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-in {
  opacity: 1;
  transition: opacity 1.6s;
}

.fade-out {
  opacity: 0;
  transition: opacity 1.6s;
}
